<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="travel.caddy.basiclauncher" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label=""
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" /> <!--This is the home activity, that is the first activity that is displayed when the device boots.-->
                <category android:name="android.intent.category.DEFAULT" /> <!--Set if the activity should be an option for the default action (center press) to perform on a piece of data-->
            </intent-filter>

        </activity>
    </application>

</manifest>
